@font-face {
  font-family: myfont1;
  src: url("../font/tsbudaeOTF\ Medium.otf");
}

.myfont1 {
  font-family: myfont1;
}

@font-face {
  font-family: "ef diary";
  src: url(../font/EF_Diary.ttf);
}

.myfont2 {
  font-family: "ef diary";
}

@font-face {
  font-family: "땅스부대찌개라이트";
  src: url(../font/tsbudaeOTF\ Light.otf);
}

.myfont3 {
  font-family: 땅스부대찌개라이트;
}

@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.myfont4 {
  font-family: 'TAEBAEKmilkyway'
}